<section class="hero">
  <div class="container hero-container">
    <div class="hero__left-side">
      <ul class="hero__gallery list">
        <li class="hero__gallery-item">
          <img
            class="hero__gallery-img"
            src="../src/images/IMAGE.jpg"
            alt="подкаст парень у микрофона"
            width="650"
            height="873"
          />
        </li>
      </ul>
    </div>
    <div class="hero__right-side">
      <h1 class="hero__suptitle">Take your podcast to the</h1>
      <a class="link hero__title" href=""
        >next<span class="hero__section-description"> level</span></a
      >
    </div>
    <div class="hero__svg">
      <ul class="list social">
        <li class="social-item">
          <a
            class="link social-link"
            href=""
            target="_blank"
            rel="noopener noreferrer"
            aria-label="antena"
          >
            <svg class="team-icon" width="32" height="32">
              <use href=""></use>
            </svg>
          </a>
        </li>
        <li class="social-item">
          <a
            class="link social-link"
            href=""
            target="_blank"
            rel="noopener noreferrer"
            aria-label="antena"
          >
            <svg class="team-icon" width="32" height="32">
              <use href=""></use>
            </svg>
          </a>
        </li>
        <li class="social-item">
          <a
            class="link social-link"
            href=""
            target="_blank"
            rel="noopener noreferrer"
            aria-label="antena"
          >
            <svg class="team-icon" width="32" height="32">
              <use href=""></use>
            </svg>
          </a>
        </li>
        <li class="social-item">
          <a
            class="link social-link"
            href=""
            target="_blank"
            rel="noopener noreferrer"
            aria-label="antena"
          >
            <svg class="team-icon" width="32" height="32">
              <use href=""></use>
            </svg>
          </a>
        </li>
        <li class="social-item">
          <a
            class="link social-link"
            href=""
            target="_blank"
            rel="noopener noreferrer"
            aria-label="antena"
          >
            <svg class="team-icon" width="32" height="32">
              <use href=""></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </div>
</section>
